PACKBRIDGE_HOST=0.0.0.0
PACKBRIDGE_PORT=5085
PACKBRIDGE_SECRET_KEY=change-me
PACKBRIDGE_DATABASE_URL=sqlite:///packbridge.sqlite3
PACKBRIDGE_DATA_ROOT=./data
PACKBRIDGE_KNOWLEDGE_ROOT=./knowledge
PACKBRIDGE_TEMPLATE_ROOT=./ssd_templates
PACKBRIDGE_OLLAMA_URL=http://192.168.1.249:11434
PACKBRIDGE_OLLAMA_MODEL=qwen3:14b
PACKBRIDGE_MAX_UPLOAD_MB=100
PACKBRIDGE_AUTO_CREATE_DB=1
